/* Estilo general para el cuerpo */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 50px);
  width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}

/* Estilo del banner */
.banner {
  position: relative;
  text-align: center;
  color: white;
  background-image: url("../imagenes/banner00.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 100px 20px;
  margin-bottom: 30px;
}

/* Título principal */
.main-title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
}

/* Subtítulo */
.sub-title {
  font-size: 1.5rem;
}

/* Descripción */
.description {
  font-size: 1rem;
  margin-bottom: 20px;
}

#gameContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#gameArea {
  width: 800px;
  height: 600px;
  background-color: #222;
  position: relative;
  overflow: hidden;
  border: 2px solid white;
}

.stats-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.player, .enemy, .bone, .power-up {
  position: absolute;
  pointer-events: none;
}

.player {
  bottom: 10px;
  width: 50px;
  height: auto;
}

.bone {
  width: 10px;
  height: auto;
}

.enemy {
  width: 50px;
  height: auto;
}

.power-up {
  width: 30px;
  height: auto;
}

.level-up-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
  text-shadow: 0 0 10px #ff0;
  transition: opacity 1s;
  z-index: 1000;
}

.explosion {
  position: absolute;
  width: 50px;
  height: 50px;
  animation: explode 0.5s forwards;
}

@keyframes explode {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(2);
      opacity: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.modal-content {
  background-color: #222;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #222; /* Color de fondo del pie de página */
  width: 100%;
  color: #ffffff; /* Color del texto del pie de página */
}

@media (max-width: 850px) {
  #gameArea, .stats-container {
      width: 100%;
      max-width: 800px;
  }
}